<style>
    @import url(http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
    @import url(http://fonts.googleapis.com/css?family=Open+Sans);
</style>
<style>
    .container{
        font-family: 'Open Sans', sans-serif;
    }
    .done{
        text-decoration: line-through;
        color : #999999;
    }
    .container{
        margin-top: 200px;
    }
    .bottom-offset{
        margin-bottom: 20px;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <div class="bottom-offset">
                <input type="text" class="form-control" placeholder="Write something here" autofocus #newtodo (keyup)="add($event,newtodo)"/>
            </div>
            <div *foreach="#todo in todoStore.todoList">
                <input type="checkbox" [checked]="todo.done" (click)="toggleTodoState(todo)"/> <span [class.done]="todo.done">{{todo.text}}</span>
            </div>
        </div>
        <div class="col-xs-4"></div>
    </div>
</div>